
.parallax{
    background: linear-gradient(
      rgba(254, 253, 255, 0.45), 
      rgba(255, 255, 255, 0.45)
    ),
  
    url("https://i.redd.it/rtg3ld92igwz.png");
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
    text-align: center
}

*{
    margin: 0;
      padding: 0;
      outline: none;
      border: none;
      -webkit-box-sizing: border-box;
  }
  *:before,
  *:after{
      -webkit-box-sizing: border-box;
  }
  .clearfix {
    *zoom: 1;
  }
  html{
      font-family: Helvetica, arial, sans-serif;
      font-size: 12px;
  }
  body{
      background: url('brushed_alu.png');
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .clearfix:after {
    clear: both;
  }
  .container{
      width: 80%;
      margin: 0 auto;
  }
  header{
      width: 100%;
      height: auto;
      background: rgb(98, 13, 172);
  }
  .header-left,
  .header-right{
      position: relative;
      color: rgb(243, 212, 212);
      float: left;
  }
  .header-left{
      width: 30%;
  }
  .header-right label{
      position: absolute;
      top: -3.7em;
      right: 0;
      cursor: pointer;
  }
  .header-right span{
      position: relative;
      width: 2em;
      height: 2em;
      background: rgba(255,255,255,.3);
      -webkit-transition: all .3s ease;
  }
  .header-right span:hover{
      background: rgba(255,255,255,.6);
  }
  .header-right span:before,
  .header-right span:after{
      content: '';
      position: absolute;
      width: 2em;
      height: .5em;
      top: 4px;
      left: 0;
      background: black;
  }
  .header-right span:after{
      top: 14px;
  }
  .header-right{
      width: 70%;
      text-align: right;
  }
  #open{
      display: none;
  }
  h1{
      font-weight: 300;
      line-height: 40px;
      color: rgb(219, 219, 219);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  a{
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
      color: rgb(219, 219, 219);
      text-decoration: none;
  }
  nav>a{
      position: relative;
      display: inline-block;
      font-size: 13px;
      line-height: 40px;
      padding: 0 2em;
      -webkit-transition: all .3s ease;
  }
  nav>a:hover{
      background: rgba(255,255,255,.9);
      color: black;
  }
